:root {
--c0: #ffffff;
--c1: #fafafa ;
--c2: #f5f5f5 ;
--c3: #eeeeee ;
--c4: #e0e0e0 ;
--c5: #bdbdbd ;
--c6: #9e9e9e ;
--c7: #757575 ;
--c8: #616161 ;
--c9: #2c2c2c ;
--c10: #e2e2e2 ;

  --c0-f: #000;
  --c1-f: #000;
  --c2-f: #000;
  --c3-f: #000;
  --c4-f: #000;
  --c5-f: #000;
  --c6-f: #fff;
  --c7-f: #fff;
  --c8-f: #fff;
  --c9-f: #fff;
  --c10-f: #000000;


  --accent: rgb(112, 6, 112);
  --accent-f: rgb(255, 255, 255);
  --warn: #FF8C00;
  --warn-f: #fff;
  --danger: #B22222;
  --danger-f: #fff;
  --success: #006400;
  --success-f: #fff;
  --primary: #422b5c;
  --primary-f: #fff;

  --window: var(--c10);
  --window-f: var(--c10-f);

  --sysfont: 'Quicksand', sans-serif;

  --paper: var(--c0);
  --paper-f: var(--c0-f);

  --card: var(--c0);
  --card-f: var(--c0-f);

  --forminput: #ffffff22;
  --forminput-f: #212121;

  --box-shadow: rgba(255, 255, 255, 0.5);

  --logo-top: var(--c1);
  --logo-bottom: var(--c7);

  --webkit-scrollbar-button: var(--c10);
  --webkit-scrollbar-thumb: var(--c7);
  --webkit-scrollbar-track: var(--c10);

  --button: #c7c7c7;
  --button-f: #212121;
  --button-hover: var(--accent);
  --button-hover-f: var(--accent-f);

  --hover-ghost: var(--c0);

  --display-window: var(--c8);
  --display-window-f: var(--c8-f);

  --popup-block: #000;
  --popup-block-f: #000;

  --top-toolbar: var(--c9);
  --top-toolbar-f: var(--c9-f);

  --writer-side-panels: var(--c9);
  --writer-side-panels-f: var(--c9-f);
  --writer-side-nav: var(--c8);
  --writer-side-nav-f: var(--c8-f);


  --writer-title-bar: var(--c8);
  --writer-title-bar-f: var(--c8-f);

  --writer-button-bar: var(--c7);
  --writer-button-bar-f: var(--c7-f);

  --planningboard-title: var(--writer-side-panels);
  --planningboard-title-f: var(--writer-side-panels-f);

  --planningboard-col: var(--c8);
  --planningboard-col-f: var(--c8-f);

  --db-search-bar: var(--c1);
  --db-search-bar-f: var(--c1-f);
  --taglist-panel: var(--c8);
  --taglist-panel-f: var(--c8-f);
  --taglist-tag: var(--warning);
  --taglist-tag-f: var(--warning-f);

  --grid-th: var(--c8);
  --grid-th-f: var(--c8-f);
  --grid-cell-bg: var(--c7);


  --tl-bar: var(--c5);
  --tl-dot: var(--c8);
  --tl-date: var(--c10);
  --tl-date-f: var(--c10-f);
  --tl-card: var(--c2);
  --tl-card-f: var(--c2-f);

  --mm-title-bar: var(--c8);
  --mm-title-bar-f: var(--c8-f);

  --mm-background: var(--c9);
  --mm-background-f: var(--c9-f);

  --mm-handle-bar: var(--accent);
  --mm-handle-bar-f: var(--accent-f);

  --mm-node: var(--c10-f);
  --mm-node-f: var(--c10);


  --card1: var(--card);
  --card1-f: var(--card-f);
  --card2: #e57373;
  --card2-f: #fff;
  --card3: #9575cd;
  --card3-f: #fff;
  --card4: #64b5f6;
  --card4-f: #fff;
  --card5: #81c784;
  --card5-f: #fff;
  --card6: #fff176;
  --card6-f: #424242;
  --card7: #ffb74d;
  --card7-f: #424242;

  --pageEditor-align: left;
  --pageEditor-fontsize: 1.5rem;
  --pageEditor-lspacing: 3rem;
  --pageEditor-indentation: 20px;
  --pageEditor-pspacing: 20px;
  --pageEditor-page: 800px;
  --pageEditor-font: "Merriweather", 'Times New Roman', Times, serif;
  --pageEditor-color: #424242;
  --pageEditor-bgcolor: #fafafa;
  --pageEditor-h1align: center;
  --pageEditor-h2align: center;
  --pageEditor-h3align: center;
  --pageEditor-h4align: center;

  --distractionfree-bg: #fafafa;
  --distractionfree-fg: #646464;
  --distractionfree-font: 'Special Elite', 'Courier New', Courier, monospace;

}

.wavemakerForm{
  padding: 20px;
  border-radius: 5px;
  background-color: var(--c4);
  border: 2px solid var(--c8);
  color: var(--c4-f);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}