@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,400&family=Montserrat:wght@100;300;400;500;600;700&family=Open+Sans:wght@300;400;700&family=Quicksand:wght@300;400;500;600;700&family=Raleway&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiro+Devanagari+Hindi&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");

:root {
  --c0: #fff;
  --c1: #cfd8dc;
  --c2: #b0bec5;
  --c3: #90a4ae;
  --c4: #78909c;
  --c5: #607d8b;
  --c6: #546e7a;
  --c7: #455a64;
  --c8: #37474f;
  --c9: #263238;
  --c10: #13191c;

  --c0-f: #000;
  --c1-f: #000;
  --c2-f: #000;
  --c3-f: #000;
  --c4-f: #000;
  --c5-f: #000;
  --c6-f: #fff;
  --c7-f: #fff;
  --c8-f: #fff;
  --c9-f: #fff;
  --c10-f: #fff;


  --accent: rgb(112, 6, 112);
  --accent-f: rgb(255, 255, 255);
  --warn: #FF8C00;
  --warn-f: #fff;
  --danger: #B22222;
  --danger-f: #fff;
  --success: #006400;
  --success-f: #fff;
  --primary: #191970;
  --primary-f: #fff;

  --window: var(--c9);
  --window-f: var(--c9-f);

  --sysfont: 'Quicksand', sans-serif;

  --paper: var(--c0);
  --paper-f: var(--c0-f);

  --card: var(--c0);
  --card-f: var(--c0-f);

  --forminput: #ffffff22;
  --forminput-f: #fff;

  --box-shadow: rgba(255, 255, 255, 0.5);

  --logo-top: var(--c3);
  --logo-bottom: var(--c5);

  --webkit-scrollbar-button: var(--c10);
  --webkit-scrollbar-thumb: var(--c7);
  --webkit-scrollbar-track: var(--c10);

  --button: #c7c7c7;
  --button-f: #6e6e6e;
  --button-hover: var(--accent);
  --button-hover-f: var(--accent-f);

  --hover-ghost: var(--c0);

  --display-window: var(--c8);
  --display-window-f: var(--c8-f);

  --popup-block: #000;
  --popup-block-f: #000;

  --top-toolbar: var(--c10);
  --top-toolbar-f: var(--c10-f);

  --writer-side-panels: var(--c9);
  --writer-side-panels-f: var(--c9-f);
  --writer-side-nav: var(--c8);
  --writer-side-nav-f: var(--c8-f);


  --writer-title-bar: var(--c8);
  --writer-title-bar-f: var(--c8-f);

  --writer-button-bar: var(--c7);
  --writer-button-bar-f: var(--c7-f);

  --planningboard-title: var(--writer-side-panels);
  --planningboard-title-f: var(--writer-side-panels-f);

  --planningboard-col: var(--c8);
  --planningboard-col-f: var(--c8-f);

  --db-search-bar: var(--writer-title-bar);
  --db-search-bar-f: var(--writer-title-bar-f);
  --taglist-panel: var(--c8);
  --taglist-panel-f: var(--c8-f);
  --taglist-tag: var(--warning);
  --taglist-tag-f: var(--warning-f);

  --grid-th: var(--c8);
  --grid-th-f: var(--c8-f);
  --grid-cell-bg: var(--c7);


  --tl-bar: var(--c5);
  --tl-dot: var(--c8);
  --tl-date: var(--c10);
  --tl-date-f: var(--c10-f);
  --tl-card: var(--c2);
  --tl-card-f: var(--c2-f);

  --mm-title-bar: var(--c8);
  --mm-title-bar-f: var(--c8-f);

  --mm-background: var(--c9);
  --mm-background-f: var(--c9-f);

  --mm-handle-bar: var(--accent);
  --mm-handle-bar-f: var(--accent-f);

  --mm-node: var(--c10-f);
  --mm-node-f: var(--c10);


  --card1: var(--card);
  --card1-f: var(--card-f);
  --card2: #fff79a;
  --card2-f: #424242;
  --card3: #f7941d;
  --card3-f: #fff;
  --card4: #bc8cbe;
  --card4-f: #fff;
  --card5: #add273;
  --card5-f: #424242;
  --card6: #f49ac0;
  --card6-f: #424242;
  --card7: #6dcff6;
  --card7-f: #424242;
}