/* Root variables that the can be changed by the system */
:root {
  --pageEditor-align: left;
  --pageEditor-fontsize: 1.5rem;
  --pageEditor-lspacing: 3rem;
  --pageEditor-indentation: 20px;
  --pageEditor-pspacing: 50px;
  --pageEditor-page: 800px;
  --pageEditor-font: "Merriweather", 'Times New Roman', Times, serif;
  --pageEditor-color: #424242;
  --pageEditor-bgcolor: #cfcfcf;
  --pageEditor-h1align: center;
  --pageEditor-h2align: center;
  --pageEditor-h3align: center;
  --pageEditor-h4align: center;
}

.writer .ProseMirror {
  text-align: var(--pageEditor-align);
  font-size: var(--pageEditor-fontsize);
  line-height: var(--pageEditor-lspacing);
  font-family: var(--pageEditor-font);
  background-color: var(--pageEditor-bgcolor);
  color: var(--pageEditor-color);
  margin-bottom: 10px;
  margin-top: 100px;
  padding: 5% 10% 5% 10%;
  padding-bottom: 100px;
  min-height: 900px;
}

.PageEditorScroll {
  position: absolute;
  max-width: var(--pageEditor-page);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow-y: scroll;
}

.writer .ProseMirror p:first-of-type {
  text-indent: 0px;
}

.writer .ProseMirror p {
  margin-bottom: var(--pageEditor-pspacing);
  text-indent: var(--pageEditor-indentation);
}

.writer .ProseMirror h1 {
  text-align: var(--pageEditor-h1align);
}

.writer .ProseMirror h2 {
  text-align: var(--pageEditor-h2align);
}

.writer .ProseMirror h3 {
  text-align: var(--pageEditor-h3align);
}

.writer .ProseMirror h4 {
  text-align: var(--pageEditor-h4align);
}



.distractionfree .ProseMirror {
  text-align: var(--pageEditor-align);
  font-size: var(--pageEditor-fontsize);
  line-height: var(--pageEditor-lspacing);
  font-family: var(--pageEditor-font);
  margin-bottom: 10px;
  margin-top: 100px;
  padding: 5% 10% 5% 10%;
  padding-bottom: 100px;
  min-height: 900px;
  outline: none;
}

.PageEditorScroll {
  position: absolute;
  max-width: var(--pageEditor-page);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow-y: scroll;
}

.distractionfree .ProseMirror p:first-of-type {
  text-indent: 0px;
}

.distractionfree .ProseMirror p {
  margin-bottom: var(--pageEditor-pspacing);
  text-indent: var(--pageEditor-indentation);
}

.distractionfree .ProseMirror h1 {
  text-align: var(--pageEditor-h1align);
}

.distractionfree .ProseMirror h2 {
  text-align: var(--pageEditor-h2align);
}

.distractionfree .ProseMirror h3 {
  text-align: var(--pageEditor-h3align);
}

.distractionfree .ProseMirror h4 {
  text-align: var(--pageEditor-h4align);
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  background-color: var(--window);
  color: var(--window-f);
  fill: var(--window-f);
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-family: var(--sysfont);
}

body {
  /*This should stop the annoying refresh on drag down on mobile*/
  overscroll-behavior-y: contain;
}

.wavemaker_logo-top {
  fill: var(--logo-top);
}

.wavemaker_logo-bottom {
  fill: var(--logo-bottom);
}

svg {
  position: relative;
  fill: inherit;
}

input {
  background-color: inherit;
  color: inherit;
}

label {
  display: block;
}

::-webkit-scrollbar-button {
  display: block;
  height: 0px;
  border-radius: 0px;
  background-color: var(--webkit-scrollbar-button)
}

::-webkit-scrollbar-thumb {
  background-color: var(--webkit-scrollbar-thumb);
}

::-webkit-scrollbar-track {
  background-color: var(--webkit-scrollbar-track);
}

::-webkit-scrollbar {
  width: 5px;
}

.wavemakerPopupBlackout {
  position: absolute;
  background-color: var(--popup-block);
  color: var(--popup-block-f);

  opacity: 0.93;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wavemakerPopup {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: var(--display-window);
  color: var(--display-window-f);

  padding: 20px;

  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 50px;
  overflow-y: auto;
}

.wavemaker_welcome {
  padding: 30px;
  /*
  background-color: var(--display-window);
  color: var(--display-window-f);
  */
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10%;

}

.wavemaker_info_box {
  margin: 0 auto;
  max-width: 700px;
  margin-top: 20px;
  /*
  background-color: var(--display-window);
  color: var(--display-window-f);
  */
  padding: 30px;
  border-radius: 0px;

}

.clearInterfaceIconButton {
  border: 0px;
  padding: 4px 4px 0px 4px;
  cursor: pointer;
  margin: 0px;
  border-radius: 50%;
  background: none;
  transition: all 0.3s ease;
  fill: inherit;
  background-color: inherit;
  color: inherit;
}

.clearInterfaceIconButton svg {
  width: 20px;
  height: 20px;
}


.clearInterfaceIconButton:hover,
.clearInterfaceIconButton:active,
.clearInterfaceIconButton:focus {
  background: var(--button-hover) !important;
  fill: var(--button-hover-f) !important;
}



.formInput {
  border: 0px;
  outline: 0px;
  height: 40px;
  border-radius: 0px;
  background-color: var(--paper);
  color: var(--paper-f);
  padding: 5px;
  padding-left: 15px;
  width: 100%;
  margin-top: 10px;
}

.fullw {
  width: 100%;
}

.text-left {
  text-align: left;
}

.interfaceBtn {
  position: relative;
  background-color: var(--button);
  color: var(--button-f);
  fill: var(--button-f);
  border: 0px;
  outline: 0px;
  height: 40px;
  border-radius: 0px;
  padding-left: 45px;
  padding-right: 10px;
  cursor: pointer;
  font-family: var(--sysfont);
  margin-top: 10px;
}

.interfaceBtn svg {
  position: absolute;
  left: 15px;
  top: 10px;
  width: 20px;
  height: 20px;
}

.interfaceBtn:hover,
.interfaceBtn:focus,
.interfaceBtn:active {
  background-color: var(--button-hover) !important;
  color: var(--button-hover-f) !important;
  fill: var(--button-hover-f) !important;
}

.deleteIconButton {
  position: absolute;
  right: 2px;
  top: 2px;
  border: 0px;
  width: 18px;
  height: 18px;
  padding: 2px 2px 0px 2px;
  cursor: pointer;
  margin: 0px;
  border-radius: 50%;
  background: none;
  transition: all 0.3s ease;
  background-color: inherit;
  display: none;

}

.deleteIconButton svg {
  width: 18px;
  height: 18px;
  position: absolute;
  fill: var(--danger-f);
  width: 100%;
  left: 0px;
  top: 0px;
}

.deleteIconButton:hover,
.deleteIconButton:active,
.deleteIconButton:focus {
  background: var(--danger);
  color: var(--danger-f);
}

.deleteIconButton:hover>svg,
.deleteIconButton:active>svg,
.deleteIconButton:focus>svg {
  fill: var(--danger-f) !important;
}

.deleteBtn {
  background-color: var(--danger);
  color: var(--danger-f);
  fill: var(--danger-f);
}


.ProseMirror img {
  max-width: 100%;
}


.cardDescription .ProseMirror {
  background-color: inherit;
  color: inherit;
  margin: 0 auto;
  min-height: 100px;
  font-size: 1rem;
  font-family: var(--sysfont);
  padding: 0px;
  outline: none;
}


.advancedEditor .ProseMirror,
.descriptionEditor .ProseMirror {
  background-color: inherit;
  color: inherit;
  margin: 0 auto;
  min-height: 100px;
  font-size: 1rem;
  font-family: var(--sysfont);
  padding: 10px;
  outline: none;
}

.wavemakerFolderPreview img {
  max-width: 100%;
}

.basiceditor .ProseMirror {
  min-height: 100px;
  outline: none;
  background: inherit;
  color: inherit;
  padding: 10px;
  text-align: left;
}

.basiceditor .ProseMirror p {
  margin: 0px;
  padding: 0px;
}

.snowflakeEditor .ProseMirror {
  min-height: 100px;
  outline: none;
  background: inherit;
  padding: 10px;
  text-align: left;
}

.snowflakeEditor .ProseMirror p {
  margin: 0px;
  padding: 0px;
  padding-bottom: 5px;
}